{extend name="Public:base" /}
{block name="content"}
      
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                   <li>
                            <i class="fa fa-home"></i>
                            <a href="{:url('lst')}">管理员</a>
                        </li>
                                        <li>
                        <a href="{:url('lst')}">管理员列表</a>
                    </li>
                                        <li class="active">添加管理员</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->
<!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            添加管理员
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen active" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header ">
                                    <span class="widget-caption">添加管理员</span>
                                </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" id='add-admin-form'>
                    <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">所属用户组</label>
                                                <div class="col-sm-3">
                                                    <select name="groupid" style="width: 100%;" id='selects'>
                                                         {volist name='authgrouplst' id='vo'}
                                                          <option {if condition="$vo['status'] eq 0"} disabled {/if}value="{$vo.id}">{$vo.title}</option>
                                                         {/volist}
                                                     </select>
                                                </div>
                                                <p class="help-block col-sm-5"><span class="label label-info">请选择用户组</span></p>
                                            </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">管理员名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="username" placeholder="" name="name" required type="text">
                            </div>
                            <p class="help-block col-sm-5"><span class="label label-info">必填!</span></p>
                        </div>
                         
                         <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">管理员邮箱</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="L_email" placeholder="" name="email" required type="text">
                            </div>
                           <p class="help-block col-sm-5"><span class="label label-info">必填!</span></p>
                        </div>
                       
                          <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">管理员密码</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="L_pass" placeholder="" name="password" required type="password">
                            </div>
                            <p class="help-block col-sm-5"><span class="label label-info">必填!</span></p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                 <button type="button" class="btn btn-success add-admin-btn" id='adminbtn' >添加管理员</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
       

{/block}
{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/admin/admin.js" charset="utf-8"></script>
{/block}